body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #d4cbf1, #f8b5b1);
}

body::-webkit-scrollbar {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}

.order-container {
    width: 70.8% !important;
}

.newProduct .v-btn__content {
    content: "NOU PRODUCTE";
}

.agregarNomProducte .v-input__details {
    display: none;
}

th {
    background-color: transparent !important;
    font-weight: 900 !important;
    color: #242145;
}

.v-list-item__content {
    overflow: visible !important;
}
